<div class="productCard">
  <img
    src="{{ product.featured_image | image_url }}"
    class="productCard__image"
    alt="Image of {{ product.title }}"
  />
  <div class="productCard__content">
    <h3 class="productCard__title">
      {{ product.title }}
    </h3>

    <form method="post" action="/cart/add">
      <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
      <button type="submit" class="button">
        Add to cart - {{ product.price | money }}
      </button>
    </form>
  </div>
</div>